    @charset "utf-8";
    /* body {
    background: #333;
  }
  .video-container {
    position: relative;
  }
  video {
    height: auto;
    vertical-align: middle;
    width: 100%;
  } */
  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 350px; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .marquee {
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: normal;
  }

  .a_marquee {
    text-decoration: none;
    background-color: #190a49b3;
    /* border-radius: 0 18px 0 18px; */
    margin-right: 80px;
    color: whitesmoke;
    border: 2px solid #fb143f;
  }

  .hvr-bounce-to-right:hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgb(250, 22, 22);
    background-color: red;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

  /* CSS Document */
  
  /******************************
  
  [Table of Contents]
  
  1. Fonts
  2. Body and some general stuff
  3. Header
  4. Menu
  5. Home
  
  12. Footer
  
  
  ******************************/
  
  /***********
  1. Fonts
  ***********/
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800');
  
  /*********************************
  2. Body and some general stuff
  *********************************/
  
  *
  {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  body
  {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
  }
  
  div
  {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  ul
  {
    list-style: none;
    margin-bottom: 0px;
  }
  a{
    color: #0ffffd;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 400;
    color: #E91E63;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
  p a
  {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  p:last-of-type
  {
    margin-bottom: 0;
  }
  a
  {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  a, a:hover, a:visited, a:active, a:link
  {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  p a:active
  {
    position: relative;
    color: #FF6347;
  }
  p a:hover
  {
    color: #FFFFFF;
    background: #ffa07f;
  }
  p a:hover::after
  {
    opacity: 0.2;
  }
  h1{font-size: 48px;}
  h2{font-size: 36px;}
  h3{font-size: 24px;}
  h4{font-size: 18px;}
  h5{font-size: 14px;}
  h1, h2, h3, h4, h5, h6
  {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
    margin-bottom: 0;
    color: #2c2c2c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  img
  {
    max-width: 100%;
  }
  button:active
  {
    outline: none;
  }
  .form-control
  {
    color: #db5246;
  }
  section
  {
    display: block;
    position: relative;
    box-sizing: border-box;
  }
  .clear
  {
    clear: both;
  }
  .clearfix::before, .clearfix::after
  {
    content: "";
    display: table;
  }
  .clearfix::after
  {
    clear: both;
  }
  .clearfix
  {
    zoom: 1;
  }
  .float_left
  {
    float: left;
  }
  .float_right
  {
    float: right;
  }
  .trans_200
  {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .trans_300
  {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .trans_400
  {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .trans_500
  {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .fill_height
  {
    height: 100%;
  }
  .super_container
  {
    width: 100%;
    overflow: hidden;
  }
  .prlx_parent
  {
    overflow: hidden;
  }
  .prlx
  {
    height: 130% !important;
  }
  .parallax-window
  {
      min-height: 400px;
      background: transparent;
  }
  .parallax_background
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .background_image
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .nopadding
  {
    padding: 0px !important;
  }
  .owl-carousel,
  .owl-carousel .owl-stage-outer,
  .owl-carousel .owl-stage,
  .owl-carousel .owl-item
  {
    height: 100%;
  }
  .slide
  {
    height: 100%;
  }
  .button
  {
    width: 186px;
    height: 65px;
    background: transparent;
    text-align: center;
    border: solid 2px #ff0e3b;
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button::before
  {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 130%;
    height: 320%;
    background: #ff0e3b;
    content: '';
    z-index: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  .button::after
  {
    display: block;
    position: absolute;
    right: -15px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: #ff0e3b;
    content: '';
    transform: rotate(-45deg);
  }
  .button a
  {
    display: block;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.075em;
    line-height: 61px;
    text-transform: uppercase;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .button:hover::before
  {
    top: 160%;
    left: 160%;
  }
  .button:hover a
  {
    color: #ff0e3b;
  }
  .button_2
  {
    width: 186px;
    height: 65px;
    background: transparent;
    text-align: center;
    border: solid 2px #ff0e3b;
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button_2 a
  {
    display: block;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.075em;
    line-height: 61px;
    text-transform: uppercase;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .button_2:hover
  {
    background: #ff0e3b;
  }
  .section_subtitle
  {
    font-size: 14px;
    font-weight: 700;
    color: #909090;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
  }
  .section_title
  {
    margin-top: 8px;
  }
  
  /*********************************
  3. Header
  *********************************/
  
  .header
  {
    position: absolute;
    left: 78px;
    top: 40px;
    width: calc(100% - 160px);
    height: 96px;
    background: #190a49;
    z-index: 100;
    border-bottom: solid 2px #ff0e3b;
  }
  .header_wrap
  {
    width: 100%;
    height: 100%;
    padding-top: 12px;
  }
  .logo
  {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 60px;
  }
  .main_nav ul li:not(:last-of-type)
  {
    margin-right: 52px;
  }
  .main_nav ul li a
  {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }
  .main_nav ul li a:hover,
  .main_nav ul li.active a
  {
    color: #ff0e3b;
  }
  .header_social
  {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 53px;
    padding-top: 12px;
  }
  .social ul li
  {
    position: relative;
  }
  .social ul li:not(:last-of-type)
  {
    margin-right: 22px;
  }
  .social ul li a
  {
    display: block;
    position: relative;
    height: 100%;
    padding: 5px;
  }
  .social ul li a i
  {
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social ul li a:hover i
  {
    color: #ff0e3b;
  }
  .fixed_header
  {
    position: fixed;
    top: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    background: #190a49;
    border-bottom: solid 2px #ff0e3b;
    z-index: 100;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .fixed_header.scrolled
  {
    top: 0;
  }
  .hamburger
  {
    display: none;
    padding: 5px;
    cursor: pointer;
  }
  .hamburger i
  {
    font-size: 22px;
    color: #ffffff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hamburger:hover i
  {
    color: #ff0e3b;
  }
  
  /*********************************
  4. Menu
  *********************************/
  
  .menu
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 101;
  }
  .menu_door
  {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(25,10,73,0.9);
  }
  .door_left
  {
    right: 50%;
  }
  .door_right
  {
    left: 50%;
  }
  .menu_content
  {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .menu_close
  {
    position: absolute;
    top: 60px;
    right: 60px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .menu_close:hover
  {
    color: #ff0e3b;
  }
  .menu_nav ul li:not(:last-of-type)
  {
    margin-bottom: 5px;
  }
  .menu_nav ul li a
  {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .menu_nav ul li a:hover
  {
    color: #ff0e3b;
  }
  .menu_social
  {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  /*********************************
  5. Home
  *********************************/
  
  .home
  {
    width: 100%;
    height: 919px;
  }
  .background_image{
    /* position: relative; */
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .home_slider_overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7800ff;
    background-image: linear-gradient(to right, rgba(153, 0, 255, 0.34), rgba(158, 158, 158, 0));
    background: #7800ff;
    background: linear-gradient(to right, rgba(153, 0, 255, 0.34), rgba(158, 158, 158, 0));
  }
  
  .home_slider_container
  {
    height: 100%;
  }
  .slide_wrap
  {
    width: 100%;
    height: 100%;
  }
  .home_container
  {
    width: 100%;
    top: -45px;
  }
  .home_content
  {
    opacity: 0;
    -webkit-transition: all 2000ms 500ms ease;
    -moz-transition: all 2000ms 500ms ease;
    -ms-transition: all 2000ms 500ms ease;
    -o-transition: all 2000ms 500ms ease;
    transition: all 2000ms 500ms ease;
  }
  .home_content.active
  {
    opacity: 1;
  }
  .home_subtitle
  {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
    padding-left: 6px;
  }
  .home_title
  {
    margin-top: 9px;
  }
  .home_title h1
  {
    font-size: 72px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .home_title h1:not(:last-of-type)
  {
    margin-bottom: -6px;
  }
  .home_title h1 span
  {
    font-weight: 700;
  }
  .home_button
  {
    margin-left: 9px;
    margin-top: 37px;
  }
  .home_slider .owl-dots
  {
    position: absolute;
    left: calc((100% - 1102px) / 2);
    bottom: 36px;
    z-index: 100;
  }
  .home_slider .owl-dots .owl-dot
  {
    outline: none;
    border-radius: 50%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .home_slider .owl-dots .owl-dot span
  {
    position: relative;
    background: transparent;
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
  }
  .home_slider .owl-dots .owl-dot:hover span
  {
    background: transparent;
  }
  .home_slider .owl-dots .owl-dot:not(.active):hover span::after
  {
    color: #ff0e3b;
  }
  .home_slider .owl-dots .owl-dot.active
  {
    background: #ff0e3b;
    width: 44px;
    height: 44px;
    margin-right: 6px;
  }
  .home_slider .owl-dots .owl-dot.active span
  {
    background: transparent;
  }
  .home_slider .owl-dots .owl-dot span::after
  {
    display: block;
    position: relative;
    color: #ffffff;
  }
  .home_slider .owl-dots .owl-dot:first-child span::after
  {
    content: '01.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(2) span::after
  {
    content: '02.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(3) span::after
  {
    content: '03.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(4) span::after
  {
    content: '04.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(5) span::after
  {
    content: '05.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(6) span::after
  {
    content: '06.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(7) span::after
  {
    content: '07.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(8) span::after
  {
    content: '08.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(9) span::after
  {
    content: '09.';
  }
  .home_slider .owl-dots .owl-dot:nth-child(10) span::after
  {
    content: '10.';
  }
/*********************************
9. services
*********************************/

.cta
{
	background: linear-gradient(to bottom right, #000000, #422479);
}
.cta_image
{
	width: 40%;
}
.cta_content
{
	width: 60%;
	padding-top: 95px;
	padding-bottom: 88px;
	padding-left: 200px;
	padding-right: 220px;
}
.cta .section_title h1
{
	color: #ffffff;
}
.cta_list
{
	margin-top: 30px;
	margin-left: -3px;
}
.cta_list ul li:not(:last-of-type)
{
	margin-bottom: 8px;
}
.cta_list ul li span
{
	padding-left: 19px;
	font-size: 22px;
	font-weight: 600;
	color: #909090;
}
.cta_buttons
{
	margin-top: 67px;
}
.cta_buttons .cta_button
{
	margin-bottom: 12px;
}
.cta_buttons .cta_button:not(:last-child)
{
	margin-right: 18px;
}


/*********************************
7. Testimonial
*********************************/

.classes
{	
  background: linear-gradient(to right, rgba(153, 0, 255, 0.24), #a1dffb);
	padding-top: 97px;
	padding-bottom: 150px;
}
.classes_slider_container
{
	margin-top: 90px;
}
.classes_slide_wrap
{
	padding-bottom: 42px;
}
.classes_slide_wrap > div
{
	background: white;
  padding-top: 125px;
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 108px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}
.class_image
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	border: solid 3px #ff0e3b;
	bottom: -42px;
	border-radius: 50%;
	overflow: hidden;
}
.class_image a
{
	display: block;
	position: relative;
	height: 100%;
}
.class_image a::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 3px #190a49;
	content: '';
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.classes_slide_wrap:hover .class_image a::after
{
	opacity: 1;
}
.classes_slide_wrap:hover > div
{
	background: #190a49;
}
.section_title {
  margin-top: 8px;
}
.classes_title h3
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.classes_slide_wrap:hover .classes_title h3
{
	color: rgb(255, 65, 65);
}
.classes_text
{
  margin-top: 25px;
}
.classes_text_color
{
  color: #333333;
}
.classes_slide_wrap:hover .classes_title h5 {
    color: white;
}
.classes_slide_wrap:hover .classes_text_color {
  color: rgb(230, 224, 224);
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.section_subtitle {
  font-size: 14px;
  font-weight: 700;
  color: #909090;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.owl-carousel, .owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel .owl-item {
  height: 100%;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

h5:hover{
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
}

.testimonials {
  background: #161d25;
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.3;
  right: 10%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
}


/*********************************
6. Blog
*********************************/

.blog
{
	background: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}
.blog_post
{
	width: calc((100% - 30px) / 2);
	margin-bottom: 89px;
}
.blog_post_image a
{
	display: block;
}
.blog-item-zoom {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: auto;
  box-sizing: border-box;
  width: fit-content;
 }
 
 .blog-item-zoom img {
     vertical-align: top;
     max-width: 100%;
     transition: all 0.3s;
 }
 
 .blog-item-zoom:hover img { 
     transform: scale(1.1);
 }
.blog_post_date
{
	position: absolute;
	top: -32px;
	left: 13px;
	width: 74px;
	height: 99px;
  background: #190a49;
  z-index: inherit;
}
.blog_post_date a
{
	display: block;
	position: relative;
	height: 100%;
}
.blog_post_date a > span
{
	width: 100%;
	height: 100%;
}
.blog_post_date a > span > span:first-child
{
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
	line-height: 0.75;
}
.blog_post_date a > span > span:not(:first-child)
{
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	line-height: 0.75;
}
.blog_post_date a > span > span:nth-child(2)
{
	margin-top: 9px;
}
.blog_post_date a > span > span:nth-child(3)
{
	margin-top: 8px;
}
.author_image
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.blog_post_title
{
	margin-top: 34px;
}
.blog_post_title h3 a
{
	color: #2c2c2c;
	text-transform: none;
	letter-spacing: 0px;
}
.blog_post_title h3 a:hover
{
	color: #ff0e3b;
}
.blog_post_info
{
	margin-top: 36px;
}
.author_name
{
	padding-left: 11px;
	font-size: 14px;
	color: #909090;
	font-weight: 700;
}
.author_name a
{
	font-size: 14px;
	color: #2c2c2c;
	margin-left: 3px;
}
.author_name a:hover
{
	color: #ff0e3b;
}
.blog_post_text
{
	margin-top: 13px;
}
.blog_post_button
{
	margin-top: 25px;
	background: #f2f2f9;
	border: none;
}
.blog_post_button:hover
{
	background: #ff0e3b;
}
.blog_post_button a
{
	color: #2c2c2c;
}
.blog_post_button a:hover
{
	color: #ffffff;
}
.blog_post_button::after,
.blog_post_button::before
{
	display: none;
}
.page_nav
{
	margin-top: 11px;
}
.page_nav ul li:not(:last-of-type)
{
	margin-right: 14px;
}
.page_nav ul li.active
{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #ff0e3b;
	text-align: center;
}
.page_nav ul li.active a
{
	line-height: 44px;
	color: #ffffff;
}
.page_nav ul li a
{
	font-size: 16px;
	font-weight: 300;
	color: #2c2c2c;
}
.page_nav ul li:not(.active) a:hover
{
	color: #ff0e3b;
}

  /*********************************
12. FAQs
*********************************/
#faqs{
  background-color: #5d2eb1;
}
.faqs {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  /* line-height: 1.2; */
  vertical-align: middle;
  margin: auto;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em; 
}
.accordion:before{
    content: "";
    width: 1px;
    height: 80%;
    background: #333333;
    position: absolute;
    top: 30px;
    left: 24px;
    bottom: 20px;
}
.accordion .card{
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 0 12px 50px;
    position: relative;
}
.accordion .card:before{
    content: "";
    width: 2px;
    height: 100%;
    background: #333333;
    position: absolute;
    top: 0;
    left: -2px;
}
.accordion .card-header{
    padding: 0;
    background: #fff;
    position: relative;
}
.accordion .card-header:before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: red;
    border: 1px solid #333333;
    position: absolute;
    top: 50%;
    left: -48px;
    transform: translateY(-50%);
}
.accordion .mb-0{
	padding: 0px;
}
.accordion .mb-0 a{
    display: block;
    padding: 15px 55px 15px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #550527;
    border: none;
    margin: 0;
    position: relative;
}
.accordion .mb-0 a:before,
.accordion .mb-0 a.collapsed:before{
    content: "\f068";
    font-family:'FontAwesome';
    font-weight: 900;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: normal;
    color: #333333;
    text-align: center;
    border: 1px solid #333333;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
}
.accordion .mb-0 a.collapsed:before{ content: "\f067"; }
.accordion .card-body{
    padding: 10px 30px 10px;
    border: none;
    font-size: 14px;
    color: #333333;
    line-height: 28px;
}

  /*********************************
12. Shopify
*********************************/

/*shopify */


h3.title {
  font-size: 50px;
  text-transform: uppercase !important;
  font-weight: 700;
}

h3.title span {
  border-bottom: 4px double #ff5252;
  display: inherit;
  max-width: 80px;
  margin: 0 auto;
}

.carousel-inner {
  box-shadow: -31px 29px 6px -6px rgba(16, 16, 16, 0.08);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 82, 82, 0.39);
  cursor: pointer;
}

.carousel-indicators {
  bottom: -58px;
}

.carousel-indicators .active {
  background-color: #ff5252;
}


/* shopify bottom */

.shopify-bottom-wthree {
  background: white;
}

.bottom-w3ls1 {
  position: relative;
  z-index: 1;
}

.bottom-w3ls1 i {
  font-size: 60px;
  position: absolute;
  top: -30%;
  left: -7%;
  z-index: -1;
  color: #1d1c1c !important;
  transform: rotate(-35deg);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.bottom-w3ls1:hover.bottom-w3ls1 i {
  left: -17%;
  color: rgb(140, 198, 61) !important;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
 }

.bottom-w3ls1 h4 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 21px;
  border-bottom: 1px solid gray;
  padding-bottom: 17px;
  width: 250px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.bottom-w3ls1:hover.bottom-w3ls1 h4 {
  border-color:black;
  width: 300px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.col-4.bottom-w3ls1 p {
  color: #eee;
}


.w3l-agile {
  background: rgba(0, 0, 0, 0.56);
  padding: 3em 2em;
}


@media(max-width: 1050px) {
  .bottom-w3ls1:hover.bottom-w3ls1 i {
      left: -11%;
  }
  .bottom-w3ls1 i {
      font-size: 54px;
      top: -23%;
      left: -5%;
  }
}

@media(max-width: 1024px) {
  .bottom-w3ls1:hover.bottom-w3ls1 i {
      left: -8%;
  }
  .img_text_w3ls h4 {
      font-size: 26px;
      letter-spacing: 1px;
  }
  #menu:after {
      left: 102px;
  }
}

/*********************************
12. Clients
*********************************/

.client-box{
  background-color: #190a49;
  box-shadow: 11px 16px 28px 6px;
  border-radius: 25px;
 }

.client-box:hover{
  background-color: #7753ea;
 }
 
 .col-gap{
  margin-bottom: 20px;
 
 }
 .p-color{
  color: #FFFFFF;
  margin-top: 20px;
 }
 .p-color:hover{
  color: black;
  font-weight: bold;
  font-size: 18px;
 }
 .item-zoom {
  position: relative;
  text-align: center;
  border: 2px solid red;
  overflow: hidden;
  max-width: 75%;
  margin: auto;
  box-sizing: border-box;
  border-radius: 50%;
  width: fit-content;
  top: 15px;
 }
 .item-zoom:hover {
  border: 2px solid #333;
 }
 
 .item-zoom img {
     vertical-align: top;
     max-width: 100%;
     transition: all 0.3s;
 }
 
 .item-zoom:hover img { 
     transform: scale(1.1);
 }

/*********************************
12. Footer
*********************************/

.footer
{
	background: #190a49;
}
.footer_content
{
	padding-top: 60px;
	padding-bottom: 30px;
}
.footer_logo a
{
	display: inline-block;
	position: relative;
}
.footer_bar
{
	height: 56px;
}
.copyright
{
	font-size: 15px;
	font-weight: 700;
	color: #a18df8;
  text-align: center;
}
.footer_row
{
	margin-top: 59px;
}
.footer_icon
{
	width: 95px;
	height: 95px;
	border-radius: 50%;
  background: #0f0432;
  margin-bottom: 25px;
}
/* .footer_iconImg:hover{
	transform: scale(1.5);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
} */
.footer_icon > div{
	width: 42px;
	height: 42px;
}
.footer_icon > div img{
	max-width: 100%;
	max-height: 100%;
}
.footer_title{
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 0.2em;
  line-height: 1.2;
  text-align: left;
}
.footer_list{
  margin: 20px;
  text-align: left;
}
/* .footer_list ul li:not(:last-of-type)
{
	margin-bottom: 15px;
} */
.footer_list ul li
{
	font-size: 14px;
	/* font-weight: 700; */
	/* color: rgba(255,255,255,0.38); */
}
hr {
  height: 1px;
  color: blue;
  background-color: red;
  border: none;
  }
.fa-heart-o {
  color: red;
}

/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
  transition: transform .4s, filter 1s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}
.contact_box{
  margin: 60px 0 -60px 0;
  border: 2px solid rgb(247, 27, 100);
  box-shadow: 9px 9px 0 rgba(16, 213, 222, 0.16);
  background-color: #422479;
  border-radius: 25px;
}
.contact_box:hover{
  border: 2px solid red;
  background-color: #190a49;
}
.contact_form_container {
  margin-top: 76px;
}
.contact_form_row > div:not(:last-of-type) {
  margin-bottom: 25px;
}
.contact_input {
  height: 40px;
  width: 100%;
  background: #f2f2f9;
  padding-left: 34px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #2c2c2c;
  border-radius: 25px 25px 0 25px;
}
.contact_textarea {
  height: 148px;
  padding-top: 20px;
}
.contact_button {
  width: 150px;
  height: 40px;
  background: rgb(247, 27, 100);
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  border: none;
  outline: none;
  cursor: pointer;
  border: solid 2px rgb(247, 27, 100);
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_button:hover {
  border: solid 2px red;
  background-color: red;
}
.map {
  height: 100%;
}
.map_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}